  <div class="container mt-5">
        <h1>Welcome to my website!</h1>

        <p>First download a <code>.txt</code> or <code>.srt</code> (subtitle) file from the internet.</p>
        
        <p>One option is to visit <a href="https://www.opensubtitles.org/en/search/subs" target="_blank">https://www.opensubtitles.org/en/search/subs</a>. Search for the title you are looking for and download the version that is in the language you are trying to learn</p>

        <p>Then upload your file, name the learning path, select the base language (the language you speak most fluently) and the target language (the language of the source text) and click “Create Learning Path”.</p>

        <p>Then wait for your learning plan to be built by our software. Some flashcards will be generated nearly instantly, and you can start using those immediately.</p>
    </div>
