<div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to my website</h1>
            <p class="lead">This has been created for foreign film buffs and language nerds alike</p>
        </div>

        <div class="row mb-4">
            <div class="col">
                <p>Users are invited to upload foreign language scripts (currently only French) and translate them into their base language</p>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <p>Once uploaded, this site creates flashcards and multiple-choice quizzes of the content.</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>This was created to enhance the enjoyment and understanding of foreign language material (specifically film and series content) through the practice of the source material.</p>
            </div>
        </div>
    </div>
