  <div class="container mt-5">
        <h1>Welcome to my language learning website!</h1>
  <p>  This is a proprietary language learning platform that turns subtitle and text files into learning plans! </p>
        <p> To start <a href = "/users/sign_in"> Sign in </a> or <a href ="/users/sign_up"> Sign up</a> and then navigate to Home </p>
    </div>
