<div>
  <div>
    <h1>
      Translation #<%= @the_translation.id %> details
    </h1>

    <div>
      <div>
        <a href="needs_review">
          Go back
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Expression in base language
      </dt>
      <dd>
        <%= Expression.find(@the_translation.expression_in_base_language_id).body %>
      </dd>

      <dt>
        Expression in target language
      </dt>
      <dd>
        <%= Expression.find(@the_translation.expression_in_target_language_id).body %>
      </dd>


      
    </dl>

 <form action="/translations/<%= @the_translation.id %>/update_status" method="post">
  <input type="hidden" name="_method" value="post">
  
  <label for="review_status">Review Status:</label>
  <select id="review_status" name="review_status">
    <option value="0">Need to Review</option>
    <option value="1">Wouldn't mind reviewing</option>
    <option value="2">Don't want to see again</option>
  </select>
  
  <button type="submit">Update Status</button>
</form>


  </div>
</div>
